body {
    background-color: #f0f0f0;
}

button {
    margin-right: 20px;
}

#cat-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; 
}

#cat-images img {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
}
